/***** BASE STYLES *****/

body {
  background: #ffffff;
  color: #b46a79;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

h1, h2 {
  font-family: 'Roboto Slab', serif;
}

h2 {
  font-size: 36px;
  text-align: center;
  padding: 30px 0px 25px 0;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

h4 {
  font-weight: 400;
}

#work {
  height: 1450px;
}

#about {
  height: 650px;
  background: #cae9d9;
}

#contact {
  height: 450px;
  background: #93d2b1;
  text-align: center;
}

.full-width {
  width: 1200px;
  margin: 0 auto;
}

.half-width {
  width: 600px;
  float: left;
}

.third-width {
  width: 400px;
  float: left;
}

.homepage-header {
  height: 800px;
  background: url('../img/hero.jpg');
  background-size: cover;
}

.page-header {
  color: #eeaac3;
  height: 300px;
  background: url('../img/page-header.png');
  background-size: cover;
}

.img-box {
  height: 350px;
  width: 550px;
  margin: 25px 0 25px 50px;
}

.text-box {
  height: 350px;
  width: 550px;
  margin: 25px 0 57px 50px;
}

.email {
  color: #b46a79;
  text-decoration: none;
  font-size: 24px;
}

.work-page-img1 {
  width: 1000px;
  height: 720px;
  margin-left: 130px;
  padding: 10px;
  border: 3px solid #b46a79;
}

.work-page-img2 {
  width: 600px;
  height: 1219px;
  margin-left: 350px;
  padding: 10px;
  border: 3px solid #b46a79;
}

.work-page-img3 {
  width: 600px;
  height: 1064px;
  margin-left: 350px;
  padding: 10px;
  border: 3px solid #b46a79;
}

/***** HEADER *****/

header h1 {
  font-size: 60px;
  padding: 150px 30px 0 480px;
  margin-top: 0;
}

header p {
  color: #eeaac3;
  font-size: 48px;
  padding: 70px 40px 0 850px;
  line-height: 60px;
}

nav {
  float: right;
  padding: 20px 25px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: #b46a79;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 30px;
}

/***** WORK ******/


#work img {
  border: 1px solid #848944;
}

#work h3 {
  margin: 0 auto;
}

#work h4 {
  margin: 4px 0 30px 0;
}


/***** ABOUT *****/

#about img {
  height: 450px;
  width: 350px;
  margin: 0 100px;
}

#about p {
  padding: 10px 50px 0 0 ;
}

#about h3 span {
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
}

/***** CONTACT *****/

#contact h2 {
  margin: 0 0 50px 0;
}

#contact h3 {
  margin: 50px 0 20px 0;
}

#contact p {
  margin: 0 auto;
}

#contact ul {
  width: 100%;
  padding: 0;
}

#contact ul li {
  display: inline-block;
}

#contact ul li a {
  text-decoration: none;
  padding: 0 20px;
}

/***** FOOTER *****/

footer {
  background: #93d2b1;
  text-align: center;
}

footer p {
  margin: 0 auto;
  font-size: 18px;
}

footer p span {
  color: #eeaac3;
}
